.DS_Store
node_modules/
bower_components/
.pulp-cache/
generated-docs/
.psc-package/
.psc*
.purs*
.psa*
.agents/
.vscode/
vendor/
var/
composer.lock
composer.json
.composer-spago.json
cachegrind.out*
purs_files.txt
